
    .subscribe_button {
        background-color: rgb(200, 0 ,0);
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        padding-top: 10px;
        padding-bottom:10px;
        padding-left: 16px;
        padding-right:16px;
        margin-right:8px;
        margin-left:20px;
        transition: opacity 0.15s;
        vertical-align: top;
        }

    .subscribe_button:hover{
        opacity:0.8;
    }

    .subscribe_button:active{
        opacity:0.4;
    }
    .Join_button{
        background-color: white;
        color:rgb(29, 155, 240);
        border-style: solid;
        border-width: 1px;
        border-radius: 3px;
        border-color: rgb(107, 183, 226);
        cursor: pointer ;
        padding-top:9px;
        padding-bottom:9px;
        padding-left: 16px;
        padding-right:16px;
        transition: background-color 0.15s,
    }

    .Join_button:hover{
        background-color: rgb(107,183,226);
        color:white;
    }
    .Join_button:active{
        opacity: 0.7;
    }
    .Tweet_button{
        background-color: rgb(29, 155, 240);
        color:white;
        height:38px;
        width:80px;
        border: none;
        border-radius: 30px;
        font-weight: bold;
        font-size:15px;
        cursor:pointer;
        vertical-align:top;
        padding-top: 10px;
        padding-bottom:10px;
        padding-left: 16px;
        padding-right:16px;
        transition: box-shadow 0.15s;
    }
    .Tweet_button:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15) ;
    }

    .get_started{
        background-color: rgb(121,82,179);
        color:white;
        border-radius: 5px;
        border:none;
        width:100px;
        height:38px;
        font-weight:bold;
        font-size:13px;
        cursor:pointer;
        vertical-align: top;
    }
    .Book_tickets{
        background-color: rgb(230, 86, 170);
        color:white;
        border:none;
        height:40px;
        width:400px;
        font-size:30px;
        border-radius:5px;
        cursor:pointer;
        margin-top:10px;
    }
    .Book_tickets:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
        background-color:rgb(230, 86, 170);
        color: white;
        opacity: 0.7px;
    }
    .Book_tickets:active{
        opacity: 0.3px;
    }