
    p{
        font-family:Roboto;
        margin-top:0px;
        margin-bottom:0px;
    }
    .vedio-title{
        font-weight: bold;
        font-size:18px;
        width: 280px;
        line-height: 24px;
        margin-bottom:5px;
    }
    .vedio-status{
        font-size:14px;
        color: rgb(96, 96, 96);
        margin-bottom:20px;
    }
    .vedio-aurthor{
        font-size:14px;
        color: rgb(96, 96, 96);
        margin-bottom:20px;
    }
    .vedio-description{
        font-size:14px;
        color: rgb(96, 96, 96);
        width:280px;
        line-height:22px;
        margin-bottom:100px;
    }
    .apple_text{
       font-size: 14px;
       background-color: rgb(227, 65, 64);
       color: white;
       text-align: center;
       padding-top:15px;
       padding-bottom: 15px;
    }
    .span_element{
     margin-left:100px;
        cursor:pointer;
    }
    .span_element:hover{
        text-decoration: underline;

    }
