.header{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.Left-section{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}

.logo{
    height: 20px;
}

.middle-section{
    flex: 1;
    margin-left:70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items:center;
    flex-direction: row;
}

.s-bar::placeholder{
    font-family: Roboto, Arial; 
    font-size: 14px;
}

.s-bar{
    flex: 1;
    height:36px;
    padding-left:10px ;
    font-size: 16px;
    border-width:1px;
    border-style:solid;
    border-color:rgb(192,192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px 
    rgb(0,0,0,0.05);
}

.search-button{
    height:40px;
    width:66px;
    background-color: rgb(240,240,240);
    border-width:1px;
    border-width: solid; 
    border-color:rgb(192,192,192);
    margin-left:-1px ;
    margin-right:10px;
}

.search-icon{
    height:30px;
    margin-top: 4px;
}

.voice-search-button{
    height: 40px;
    width:40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245,245,245);

}

.voice-search-icon{
    height: 24px;
    margin-top:4px; 
}

.Right-section{
    width: 170px;
    margin-right:20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.upload-icon{
    height:24px;
    margin-top:0px;
}

.youtube-apps-icon{
    margin-top:0px;
    height:24px;
}

.notifications-icon{
    height:24px;
    margin-top:0px;
}

.user-profle-icon{
    height: 32px;
    border-radius: 17px;
}
