            .thumbnail{
                width:100%;
            }
            .s_bar{
                display:block;
                border-radius: 8px;
                border: 2px solid rgb(200,200,200);
            }
            .vedio-title{
                margin-top: 0px;
                font-size: 14px;
                font-weight:bold;
                line-height: 20px;
                margin-bottom:12px;
            }
            .profile-picture{
                width:40px;
                border-radius:40px;
            }
            .thumbnail-row{
                margin-bottom:12px;
            }
            .vedio-aurthor,
            .vedio-status{
                font-size:12px;
                color:rgb(96,96,96);
            }
            .vedio-aurthor{
                margin-bottom:4px;
            }
            .vedio-grid{
                display:grid;
                grid-template-columns:50px 1fr;
            }
            .template-grid{
                display:grid;
                grid-template-columns:1fr 1fr 1fr;
                column-gap:16px;
                row-gap:40px;
            }    